# Data Prep for Supplemental IMDB Data

In this notebook, we wrestle with a [massive data set](https://www.kaggle.com/datasets/ashirwadsangwan/imdb-dataset?select=title.akas.tsv) from Kaggle with movie info scraped from IMDB. We found the provided IMDB SQL dataset lacking. We liked the profitability measures we calculated using the data provided from 'The Numbers', so that is our target list of movies whose features we want to fill out.

In [1]:
# Import pandas, obviously...
import pandas as pd

## Get data for movies in our target list

In [2]:
# Load in the basics table
title_basics_df = pd.read_csv('../zippedData/extra.imdb/title.basics.tsv/data.tsv.gz', 
                              delimiter='\t', usecols=['tconst', 'titleType', 'primaryTitle', 
                              'originalTitle', 'startYear', 'runtimeMinutes', 'genres'])

In [3]:
title_basics_df.head(2)

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,1894,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,1892,5,"Animation,Short"

In [4]:
# Load in the ratings table
title_ratings_df = pd.read_csv('../zippedData/extra.imdb/title.ratings.tsv/data.tsv.gz', 
                              delimiter='\t', usecols=['tconst', 'averageRating', 'numVotes'])

In [5]:
title_ratings_df.head(2)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1990
1  tt0000002            5.8       265

In [6]:
# Convert release year to datetime
title_basics_df['startYear'] = pd.to_datetime(title_basics_df['startYear'], errors='coerce', format='%Y').dt.year

In [7]:
# Filter out titles released before the year 2000 and anything that is not a movie
movies_df = title_basics_df[(title_basics_df['startYear'] >= 2000) & (title_basics_df['titleType'] == 'movie')]

In [8]:
# Merge filtered data with ratings table 
movies_df = movies_df.merge(title_ratings_df, on='tconst', how='left')

In [9]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 309901 entries, 0 to 309900
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          309901 non-null  object
 1   titleType       309901 non-null  object
 2   primaryTitle    309901 non-null  object
 3   originalTitle   309901 non-null  object
 4   startYear       309901 non-null  float64
 5   runtimeMinutes  309901 non-null  object
 6   genres          309901 non-null  object
 7   averageRating   169053 non-null  float64
 8   numVotes        169053 non-null  float64
dtypes: float64(3), object(6)
memory usage: 23.6+ MB

In [10]:
movies_df.head()

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,2019.0,\N,"Action,Crime",NaN,NaN
1,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,2021.0,94,Documentary,6.8,58.0
2,tt0015414,movie,La tierra de los toros,La tierra de los toros,2000.0,60,\N,5.2,16.0
3,tt0035423,movie,Kate & Leopold,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance",6.4,87464.0
4,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,2020.0,70,Drama,6.4,179.0

Looks great so far! Now let's filter out everything not in our target list. We will need to read in the data from The Numbers and get a target list using that.

In [11]:
# Read in The Numbers dataset
tn_budgets = pd.read_csv('../zippedData/tn.movie_budgets.csv.gz', parse_dates=['release_date'], encoding='UTF-8')

# Get year of release
tn_budgets['release_year'] = tn_budgets['release_date'].dt.year

# Filter out movies released before 2000
tn_clean = tn_budgets[tn_budgets['release_year'] >= 2000]

# Get list of movies whose attributes we want to look at
# I.e. the movies that we actually have profitability measures for
target_list = tn_clean['movie'].values.tolist()

# Here is the normalizer to fix encoding issues from other cleaning workbook
def normalize_text(text):
    return text.replace('â\x80\x99', "'").replace('â\x80\x94', " ").replace('Ã©', "e")

# Get normalized target list
target_list_normalized = [normalize_text(i) for i in target_list]
target_list_normalized

['Avatar',
 'Pirates of the Caribbean: On Stranger Tides',
 'Dark Phoenix',
 'Avengers: Age of Ultron',
 'Star Wars Ep. VIII: The Last Jedi',
 'Star Wars Ep. VII: The Force Awakens',
 'Avengers: Infinity War',
 "Pirates of the Caribbean: At World's End",
 'Justice League',
 'Spectre',
 'The Dark Knight Rises',
 'Solo: A Star Wars Story',
 'The Lone Ranger',
 'John Carter',
 'Tangled',
 'Spider-Man 3',
 'Captain America: Civil War',
 'Batman v Superman: Dawn of Justice',
 'The Hobbit: An Unexpected Journey',
 'Harry Potter and the Half-Blood Prince',
 'The Hobbit: The Desolation of Smaug',
 'The Hobbit: The Battle of the Five Armies',
 'The Fate of the Furious',
 'Superman Returns',
 'Pirates of the Caribbean: Dead Men Tell No Tales',
 'Quantum of Solace',
 'The Avengers',
 "Pirates of the Caribbean: Dead Man's Chest",
 'Man of Steel',
 'The Chronicles of Narnia: Prince Caspian',
 'The Amazing Spider-Man',
 'Battleship',
 'Transformers: The Last Knight',
 'Jurassic World',
 'Men in Black 3',
 'Transformers: Revenge of the Fallen',
 'Transformers: Age of Extinction',
 'X-Men: The Last Stand',
 'Robin Hood',
 'King Kong',
 'The Golden Compass',
 'Black Panther',
 'Incredibles 2',
 'Rogue One: A Star Wars Story',
 'Finding Dory',
 'Toy Story 3',
 'Iron Man 3',
 'Guardians of the Galaxy Vol 2',
 'Spider-Man 2',
 'Alice in Wonderland',
 'Skyfall',
 'Monsters University',
 'Oz the Great and Powerful',
 'X-Men: Days of Future Past',
 'The Amazing Spider-Man 2',
 'Cars 2',
 'Tron: Legacy',
 '2012',
 'Fantastic Beasts: The Crimes of Grindelwald',
 'Terminator Salvation',
 'Green Lantern',
 'Prince of Persia: Sands of Time',
 'Transformers: Dark of the Moon',
 'The Mummy',
 'Jack the Giant Slayer',
 'Furious 7',
 'Star Trek Into Darkness',
 'World War Z',
 'The Great Gatsby',
 "Disney's A Christmas Carol",
 'Pacific Rim',
 'The Good Dinosaur',
 'Iron Man',
 'The Dark Knight',
 'Indiana Jones and the Kingdom of the Crystal Skull',
 'Brave',
 'Kong: Skull Island',
 'Star Trek Beyond',
 'Blade Runner 2049',
 'Aladdin',
 'Thor: Ragnarok',
 'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe',
 'Maleficent',
 'Fantastic Beasts and Where to Find Them',
 'WALL-E',
 'Rush Hour 3',
 'The Legend of Tarzan',
 'Hugo',
 'Valerian and the City of a Thousand Planets',
 'Jupiter Ascending',
 'Mission: Impossible Fallout',
 'X-Men: Apocalypse',
 'The Meg',
 'Edge of Tomorrow',
 'Captain Marvel',
 'The Jungle Book',
 'Inside Out',
 'Spider-Man: Homecoming',
 'Suicide Squad',
 'Up',
 'Coco',
 'Ralph Breaks The Internet',
 'Monsters vs. Aliens',
 'Cars 3',
 'G.I. Joe: The Rise of Cobra',
 'The Mummy: Tomb of the Dragon Emperor',
 'Evan Almighty',
 'King Arthur: Legend of the Sword',
 '47 Ronin',
 'Jurassic World: Fallen Kingdom',
 'Guardians of the Galaxy',
 'Iron Man 2',
 'Captain America: The Winter Soldier',
 'Dawn of the Planet of the Apes',
 'The Polar Express',
 'Snow White and the Huntsman',
 'Terminator 3: Rise of the Machines',
 'Van Helsing',
 'Dumbo',
 'Tomorrowland',
 'Alita: Battle Angel',
 'Godzilla: King of the Monsters',
 'Alice Through the Looking Glass',
 'Shrek Forever After',
 'Doctor Strange',
 'Big Hero 6',
 'How to Train Your Dragon',
 'Wreck-It Ralph',
 'Interstellar',
 'Independence Day: Resurgence',
 'Cowboys and Aliens',
 'Beauty and the Beast',
 'Aquaman',
 'Shrek the Third',
 'Inception',
 'The Hunger Games: Mockingjay - Part 2',
 'Fast and Furious 6',
 'Godzilla',
 'X-Men: First Class',
 'The Curious Case of Benjamin Button',
 "The Sorcerer's Apprentice",
 'Poseidon',
 'Warcraft',
 'Deepwater Horizon',
 'The Chronicles of Narnia: The Voyage of the Dawn Treader',
 'Terminator: Genisys',
 'Pacific Rim: Uprising',
 'Alexander',
 'War for the Planet of the Apes',
 'Pearl Harbor',
 'Transformers',
 'Wonder Woman',
 'Frozen',
 'Zootopia',
 'Harry Potter and the Order of the Phoenix',
 'Harry Potter and the Goblet of Fire',
 'The Matrix Reloaded',
 'I am Legend',
 'Moana',
 'Hancock',
 'Charlie and the Chocolate Factory',
 'Ratatouille',
 'Thor: The Dark World',
 'Batman Begins',
 'Mission: Impossible Rogue Nation',
 'Dunkirk',
 'Thor',
 'Madagascar: Escape 2 Africa',
 'X-Men Origins: Wolverine',
 'Night at the Museum: Battle of the Smithsonian',
 'Kung Fu Panda 2',
 'Mad Max: Fury Road',
 'Pokemon: Detective Pikachu',
 'The Matrix Revolutions',
 'Ready Player One',
 'Chicken Little',
 'Mission: Impossible III',
 'Angels & Demons',
 'Troy',
 'The Last Airbender',
 'Bee Movie',
 'G-Force',
 'Bolt',
 'Wrath of the Titans',
 'Beowulf',
 'Dark Shadows',
 'White House Down',
 'The Wolfman',
 'The Great Wall',
 'Pan',
 'Mars Needs Moms',
 'Moonfall',
 'Flushed Away',
 "Madagascar 3: Europe's Most Wanted",
 'Mission: Impossible Ghost Protocol',
 'How to Train Your Dragon 2',
 'Mr. Peabody & Sherman',
 'Rise of the Guardians',
 'Sahara',
 'Ghostbusters',
 'Die Another Day',
 'Pirates of the Caribbean: The Curse of the Black Pearl',
 'Star Trek',
 'Men in Black 2',
 'Captain America: The First Avenger',
 'Kung Fu Panda 3',
 'G.I. Joe: Retaliation',
 'The Last Samurai',
 'Fun With Dick And Jane',
 'Exodus: Gods and Kings',
 'The BFG',
 'Gods of Egypt',
 'Spider-Man',
 'Watchmen',
 'Stealth',
 'The Incredible Hulk',
 'Hulk',
 'Final Fantasy: The Spirits Within',
 'The Twilight Saga: Breaking Dawn, Part 2',
 'The Croods',
 'The Revenant',
 'Rango',
 'Master and Commander: The Far Side of the World',
 'Turbo',
 'Teenage Mutant Ninja Turtles: Out of the Shadows',
 'Happy Feet Two',
 'Miami Vice',
 'The Nutcracker and the Four Realms',
 'War of the Worlds',
 'Penguins of Madagascar',
 'The Hunger Games: Catching Fire',
 'Harry Potter and the Prisoner of Azkaban',
 'The Bourne Ultimatum',
 'Ant-Man and the Wasp',
 'Kung Fu Panda',
 'Ant-Man',
 'Home',
 'Mary Poppins Returns',
 'Puss in Boots',
 'Megamind',
 'Bad Boys II',
 'Rio 2',
 'Salt',
 'Noah',
 'The Adventures of Tintin',
 'After Earth',
 'Australia',
 'R.I.P.D.',
 'How to Train Your Dragon: The Hidden World',
 'The Twilight Saga: Breaking Dawn, Part 1',
 'Dinosaur',
 'Logan',
 'Night at the Museum: Secret of the Tomb',
 'Harry Potter and the Deathly Hallows: Part II',
 'The Hunger Games: Mockingjay - Part 1',
 "Harry Potter and the Sorcerer's Stone",
 'Harry Potter and the Deathly Hallows: Part I',
 'The Da Vinci Code',
 'X-Men 2',
 'Fast Five',
 'Teenage Mutant Ninja Turtles',
 'Sherlock Holmes: A Game of Shadows',
 'The Day After Tomorrow',
 'The Boss Baby',
 'Clash of the Titans',
 'Trolls',
 'Prometheus',
 'The Bourne Legacy',
 'Skyscraper',
 'Total Recall',
 "Assassin's Creed",
 'Monster Trucks',
 'How the Grinch Stole Christmas',
 'Mission: Impossible 2',
 'The Perfect Storm',
 'Jason Bourne',
 'Fantastic Four: Rise of the Silver Surfer',
 'Life of Pi',
 'Ghost Rider',
 'Rampage',
 "Charlie's Angels: Full Throttle",
 'Elysium',
 'Oblivion',
 'Power Rangers',
 'Stuart Little 2',
 'RoboCop',
 'The Chronicles of Riddick',
 'Fantastic Four',
 'Speed Racer',
 'The Island',
 'How Do You Know?',
 'Knight and Day',
 'Venom',
 'Star Wars Ep. III: Revenge of the Sith',
 'Star Wars Ep. II: Attack of the Clones',
 'Monsters, Inc.',
 'The Wolverine',
 "The Huntsman: Winter's War",
 'Windtalkers',
 'Asterix aux Jeux Olympiques',
 "Gulliver's Travels",
 'Ferdinand',
 'Deadpool 2',
 'Gravity',
 'Night at the Museum',
 'Mr. and Mrs. Smith',
 'San Andreas',
 'The Smurfs',
 'Live Free or Die Hard',
 'The Divergent Series: Insurgent',
 "Ocean's Twelve",
 'The Patriot',
 '300: Rise of an Empire',
 'The Aviator',
 'Passengers',
 'The Green Hornet',
 "Miss Peregrine's Home for Peculiar Children",
 'Real Steel',
 'The A-Team',
 'The Smurfs 2',
 'The Divergent Series: Allegiant',
 'The Taking of Pelham 123',
 "Ender's Game",
 'Home on the Range',
 'Kingdom of Heaven',
 'Ghost in the Shell',
 'Around the World in 80 Days',
 'Men in Black: International',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Cat in the Hat',
 'Ali',
 'The Martian',
 'Allied',
 'I, Robot',
 'The Princess and the Frog',
 '10,000 B.C.',
 'Ice Age: Collision Course',
 'Town & Country',
 'Kingsman: The Golden Circle',
 'Gone in 60 Seconds',
 'Gladiator',
 'The Hangover 3',
 'A Wrinkle in Time',
 'Public Enemies',
 'Casino Royale',
 'Minority Report',
 'Bumblebee',
 'Cloud Atlas',
 'Harry Potter and the Chamber of Secrets',
 'Planet of the Apes',
 'National Treasure',
 'Django Unchained',
 'Little Fockers',
 'American Gangster',
 'Cloudy with a Chance of Meatballs',
 'The Other Guys',
 "Lemony Snicket's A Series of Unfortunate Events",
 'The Wolf of Wall Street',
 'Epic',
 "The Emperor's New Groove",
 'The Expendables 2',
 'Where the Wild Things Are',
 'Eragon',
 'Hercules',
 'The Tourist',
 'The Stepford Wives',
 "Surf's Up",
 'Blood Diamond',
 "Legend of the Guardians: The Owls of Ga'Hoole",
 'Land of the Lost',
 'Peter Pan',
 'Wonder Park',
 'Catwoman',
 'The Expendables 3',
 'Treasure Planet',
 'Green Zone',
 'Geostorm',
 'Point Break',
 'In the Heart of the Sea',
 'Transcendence',
 'Son of the Mask',
 'Mortal Engines',
 'The Adventures of Pluto Nash',
 'Jin lÃ\xadng shÃ\xad san chai',
 'The Peanuts Movie',
 'The LEGO Movie 2: The Second Part',
 'Robin Hood',
 'The Mummy Returns',
 'Gangs of New York',
 'Alien: Covenant',
 'Cinderella',
 'Ice Age: Continental Drift',
 'Black Hawk Down',
 'Sex and the City 2',
 'Percy Jackson & the Olympians: The Lightning Thief',
 'The Campaign',
 'Unstoppable',
 'The Road to El Dorado',
 'The Lovely Bones',
 'Ben-Hur',
 'Seventh Son',
 'Finding Nemo',
 'The Lord of the Rings: The Return of the King',
 'The Lord of the Rings: The Two Towers',
 'Lara Croft: Tomb Raider',
 'Kingsman: The Secret Service',
 'Jurassic Park III',
 'Rise of the Planet of the Apes',
 'The Spiderwick Chronicles',
 'The Incredibles',
 'A Good Day to Die Hard',
 'The Alamo',
 'The Secret Life of Walter Mitty',
 'Jumanji: Welcome to the Jungle',
 'Rush Hour 2',
 'Sherlock Holmes',
 'Ice Age: Dawn of the Dinosaurs',
 'Spider-Man: Into The Spider-Verse 3D',
 'What Lies Beneath',
 'Rio',
 'The Departed',
 "Charlie's Angels",
 'Tropic Thunder',
 'The Girl with the Dragon Tattoo',
 "You Don't Mess With the Zohan",
 'The Magnificent Seven',
 'Alvin and the Chipmunks: The Road Chip',
 'Atlantis: The Lost Empire',
 'Valkyrie',
 'Pixels',
 'Artificial Intelligence: AI',
 'The Haunted Mansion',
 'Hollow Man',
 'The Interpreter',
 'Percy Jackson: Sea of Monsters',
 'Lara Croft: Tomb Raider: The Cradle of Life',
 'Now You See Me 2',
 'Spy Game',
 'Mission to Mars',
 'Tomb Raider',
 'King Arthur',
 'K-19: The Widowmaker',
 'Conan the Barbarian',
 'The Three Musketeers',
 'The Promise',
 'The Nutcracker in 3D',
 'Bright',
 'Army of the Dead',
 'Cinderella Man',
 'The Predator',
 'Fantastic Four',
 'Hannibal',
 'Seabiscuit',
 'Cast Away',
 'Happy Feet',
 "Ocean's Eleven",
 'The Bourne Supremacy',
 'Fast & Furious',
 'Horton Hears a Who',
 'Divergent',
 'Hotel Transylvania',
 'Shazam!',
 'Enchanted',
 'Safe House',
 'I Now Pronounce You Chuck and Larry',
 "Ocean's Thirteen",
 "It's Complicated",
 'Open Season',
 'Tower Heist',
 '102 Dalmatians',
 'Mirror Mirror',
 'The Holiday',
 'The Fast and the Furious: Tokyo Drift',
 'Memoirs of a Geisha',
 'Enemy at the Gates',
 'The Rundown',
 'Arthur Christmas',
 'xXx: Return of Xander Cage',
 'Cats & Dogs: The Revenge of Kitty Galore',
 'Collateral Damage',
 'Showtime',
 'Zodiac',
 'Scott Pilgrim vs. The World',
 'The Core',
 'The Greatest Showman',
 'Scooby-Doo',
 'Nutty Professor II: The Klumps',
 'RED 2',
 'Click',
 "Charlotte's Web",
 'Jumper',
 'Hellboy II: The Golden Army',
 'The Longest Yard',
 'The Expendables',
 'The 6th Day',
 'Call of the Wild',
 'Bruce Almighty',
 'The Hunger Games',
 'The Hangover Part II',
 'The Lego Batman Movie',
 'Hotel Transylvania 2',
 'Over the Hedge',
 'Lilo & Stitch',
 'Grown Ups 2',
 'Alvin and the Chipmunks: Chipwrecked',
 'Get Smart',
 'Robots',
 'Shutter Island',
 "Something's Gotta Give",
 'Four Christmases',
 'Bedtime Stories',
 'Road to Perdition',
 'Just Go With It',
 'Daredevil',
 'Eagle Eye',
 'Yogi Bear',
 'Cold Mountain',
 'The Book of Eli',
 'Fury',
 'Smallfoot',
 'The Pink Panther',
 'Zookeeper',
 'The Day the Earth Stood Still',
 'Spirit: Stallion of the Cimarron',
 'Swordfish',
 'The Manchurian Candidate',
 'DejÃ Vu',
 'The Secret Life of Pets 2',
 'Bewitched',
 'The Time Machine',
 'The Legend of Zorro',
 'Little Nicky',
 'Surrogates',
 'Evolution',
 'The Brothers Grimm',
 'The Wild',
 'Walking with Dinosaurs',
 'Thirteen Days',
 'The Last Witch Hunter',
 'Pompeii',
 'Battlefield Earth: A Saga of the Year 3000',
 'Looney Tunes: Back in Action',
 'Nine',
 'Timeline',
 'Oceans',
 'Red Planet',
 'Arthur et les Minimoys',
 'The Invasion',
 'A Sound of Thunder',
 'Journey 2: The Mysterious Island',
 'Jack and Jill',
 'A Beautiful Mind',
 'Cloudy with a Chance of Meatballs 2',
 'Red Dragon',
 'Hidalgo',
 'The League of Extraordinary Gentlemen',
 'Exorcist: The Beginning',
 'Asterix et Obelix: Au service de Sa Majeste',
 'The Little Prince',
 'Renegades',
 'The Equalizer 2',
 'Despicable Me 2',
 '2 Fast 2 Furious',
 'Children of Men',
 'The Adventures of Rocky & Bullwinkle',
 'The Secret Life of Pets',
 "Dr. Seuss' The Grinch",
 'Sing',
 'Despicable Me 3',
 'Ice Age: The Meltdown',
 'Madagascar',
 'Grown Ups',
 'Shark Tale',
 'X-Men',
 'Wanted',
 '50 First Dates',
 'Hairspray',
 'Now You See Me',
 'Dreamgirls',
 'Christopher Robin',
 'Immortals',
 'The Terminal',
 'Constantine',
 'Monster House',
 'Vertical Limit',
 "Charlie Wilson's War",
 'Be Cool',
 'Munich',
 'Killers',
 'The Man From U.N.C.L.E.',
 'Tears of the Sun',
 'Lady in the Water',
 'Spanglish',
 'Bandits',
 'Sucker Punch',
 'Hostage',
 'Inferno',
 'Hollywood Homicide',
 'Titan A.E.',
 'Flight of the Phoenix',
 'Monkeybone',
 'PLAYMOBIL',
 '355',
 'Minions',
 'The SpongeBob Movie: Sponge Out of Water',
 'Unbreakable',
 'Talladega Nights: The Ballad of Ricky Bobby',
 'The Angry Birds Movie',
 'The Simpsons Movie',
 "Fool's Gold",
 'Funny People',
 'The Kingdom',
 'Dr. Dolittle 2',
 'Jarhead',
 'Driven',
 'The Majestic',
 'Two Brothers',
 'The Village',
 'Signs',
 'Shrek 2',
 'Cars',
 'Alvin and the Chipmunks: The Squeakquel',
 'xXx',
 "Ocean's 8",
 'Inglourious Basterds',
 'S.W.A.T.',
 "Daddy's Home 2",
 'Vanilla Sky',
 'Olympus Has Fallen',
 'Battle: Los Angeles',
 'AVP: Alien Vs. Predator',
 'War Horse',
 'We Were Soldiers',
 'The Monuments Men',
 'Storks',
 'Big Fish',
 'Underworld: Awakening',
 'The Lego Ninjago Movie',
 'Dracula Untold',
 'The Guardian',
 'Wall Street 2: Money Never Sleeps',
 'The Dilemma',
 'Rumor Has It',
 'Stardust',
 'Rock of Ages',
 'Sky Captain and the World of Tomorrow',
 'The Brave One',
 'I Spy',
 'Bad Company',
 'Doom',
 'The Finest Hours',
 'Escape Plan',
 'Killer Elite',
 "Hart's War",
 'Rollerball',
 'The Legend of Hercules',
 'Next',
 'Ballistic: Ecks vs. Sever',
 'Osmosis Jones',
 "Legends of Oz: Dorothy's Return",
 'Blackhat',
 'Basic Instinct 2',
 'Agora',
 'Despicable Me',
 'Dinner for Schmucks',
 'Red Sparrow',
 'The Twilight Saga: Eclipse',
 'The Sum of All Fears',
 'Ted 2',
 'The Score',
 'Hall Pass',
 'Dreamcatcher',
 'Downsizing',
 "Doctor Seuss' The Lorax",
 'Body of Lies',
 'Abraham Lincoln: Vampire Hunter',
 'The Last Legion',
 'Need for Speed',
 'What Women Want',
 'Lincoln',
 'Ice Age',
 'Hotel Transylvania 3: Summer Vacation',
 'Les Miserables',
 'The Santa Clause 2',
 'Unbroken',
 'Spy!',
 'Due Date',
 'Step Brothers',
 'Space Cowboys',
 'Annie',
 "Pete's Dragon",
 'World Trade Center',
 'The Kid',
 'Mona Lisa Smile',
 'The Dictator',
 'This Means War',
 'Focus',
 'Blade: Trinity',
 'Red Dawn',
 'We Are Marshall',
 'Everest',
 'Resident Evil: Retribution',
 'Death Race',
 'Proof of Life',
 'Zathura',
 'The Missing',
 'Elektra',
 'Astro Boy',
 'I, Frankenstein',
 'Sin City: A Dame to Kill For',
 'Live by Night',
 'Lucky Numbers',
 'Oliver Twist',
 'Tian jiang xiong shi',
 'Air Strike',
 'Little Man',
 'Perfume: The Story of a Murderer',
 'Austin Powers in Goldmember',
 'Hop',
 'American Assassin',
 'U-571',
 'The Hateful Eight',
 'The Love Guru',
 '3000 Miles to Graceland',
 'Gone Girl',
 'Blades of Glory',
 'Maze Runner: The Scorch Trials',
 '2 Guns',
 'Maze Runner: The Death Cure',
 "A Dog's Way Home",
 'Mei Ren Yu',
 'Meet the Fockers',
 'The Lego Movie',
 '300',
 'Wild Hogs',
 'Marley & Me',
 'Sully',
 'The Bourne Identity',
 'Couples Retreat',
 'The Italian Job',
 'Daddy Day Care',
 'Collateral',
 'Cats & Dogs',
 'Two Weeks Notice',
 'The Scorpion King',
 'Red',
 'Starsky & Hutch',
 'Cheaper by the Dozen 2',
 'Eat Pray Love',
 'Jack Reacher',
 'Man on Fire',
 'The Family Man',
 'Contagion',
 'Coraline',
 'Ladder 49',
 "Michael Jackson's This Is It",
 'Kangaroo Jack',
 'The Happening',
 'London Has Fallen',
 'Rules of Engagement',
 'The Shaggy Dog',
 'Hellboy',
 'Jack Reacher: Never Go Back',
 'Baywatch',
 'Joy',
 'ParaNorman',
 'Paycheck',
 'The Tale of Despereaux',
 'The Boxtrolls',
 'The Dark Tower',
 'The Tuxedo',
 'Jack Ryan: Shadow Recruit',
 'Miss Congeniality 2: Armed and Fabulous',
 'Vice',
 'Shooter',
 'Gangster Squad',
 'Smurfs: The Lost Village',
 'First Man',
 'Year One',
 'Edge of Darkness',
 'Star Trek: Nemesis',
 'Reign of Fire',
 'Planet 51',
 'Duplicity',
 'Righteous Kill',
 'Invictus',
 'State of Play',
 'The Sentinel',
 'Trouble with the Curve',
 'Intolerable Cruelty',
 'Almost Famous',
 'Cold Pursuit',
 'Analyze That',
 'The Soloist',
 'The Mortal Instruments: City of Bones',
 'The Legend of Bagger Vance',
 'Dragonfly',
 'Priest',
 'Garfield: A Tail of Two Kitties',
 'XXX: State of the Union',
 'Sinbad: Legend of the Seven Seas',
 'Dark Water',
 'The Black Dahlia',
 'The Spirit',
 'The Last Castle',
 'Inkheart',
 'Supernova',
 'Flyboys',
 "Winter's Tale",
 'Meet Dave',
 'The Great Raid',
 'Rock Dog',
 'Mortdecai',
 'In the Name of the King: A Dungeon Siege Tale',
 'Beyond Borders',
 'Xi You Ji zhi Sun Wu Kong San Da Bai Gu Jing',
 'The Ridiculous 6',
 'Midway',
 'Sherlock Gnomes',
 'The Kid Who Would Be King',
 'Deadpool',
 'American Sniper',
 'Goosebumps',
 'Red Tails',
 'Just Like Heaven',
 'The Internship',
 'The Flintstones in Viva Rock Vegas',
 'Leatherheads',
 'Life',
 'Did You Hear About the Morgans?',
 'Che, Part 1: The Argentine',
 'Sex and the City',
 'Resident Evil: Afterlife',
 "That's My Boy",
 'Ghost Rider: Spirit of Vengeance',
 'After the Sunset',
 "Captain Corelli's Mandolin",
 'Into the Woods',
 'Anger Management',
 'The Pacifier',
 'Walking Tall',
 'Zhuo yao ji',
 'Alvin and the Chipmunks',
 'Bohemian Rhapsody',
 'Hitch',
 'Meet the Parents',
 'The Pursuit of Happyness',
 'Fifty Shades Darker',
 'Captain Phillips',
 'American Wedding',
 'Murder on the Orient Express',
 'The Equalizer',
 'Fifty Shades Freed',
 'Date Night',
 'Maid in Manhattan',
 'Flightplan',
 'Paddington',
 'R.V.',
 'Kill Bill: Volume 1',
 "Mr. Poppers's Penguins",
 'Kill Bill: Volume 2',
 'Shanghai Noon',
 'Free Birds',
 'The Forbidden Kingdom',
 'The Phantom of the Opera',
 'Muppets Most Wanted',
 'Kubo and the Two Strings',
 'Burlesque',
 'Changeling',
 'The Watch',
 'The Hunted',
 'Stuck On You',
 'Semi-Pro',
 'Annihilation',
 'Crimson Peak',
 'The Pirates! Band of Misfits',
 'Aeon Flux',
 'Elizabeth: The Golden Age',
 'Imagine That',
 'Gods and Generals',
 'Bullet to the Head',
 "All the King's Men",
 'Thunderbirds',
 'Un long dimanche de fianÃ§ailles',
 'Lucky You',
 'Eye See You',
 'Blade 2',
 'You, Me and Dupree',
 'Seven Pounds',
 'Elizabethtown',
 'Gigli',
 'Shaft',
 'The Dukes of Hazzard',
 'Law Abiding Citizen',
 'Black Mass',
 'Moulin Rouge',
 'Domestic Disturbance',
 'Flags of Our Fathers',
 'Grindhouse',
 'Zero Dark Thirty',
 'Catch Me if You Can',
 'Mamma Mia!',
 'The Break-Up',
 "Valentine's Day",
 'The Change-Up',
 'From Paris With Love',
 'Bulletproof Monk',
 'Me, Myself & Irene',
 'Barnyard: The Original Party Animals',
 'Alpha',
 'Deck the Halls',
 'The Adjustment Bureau',
 'The Twilight Saga: New Moon',
 'Shrek',
 'Ted',
 '22 Jump Street',
 "Daddy's Home",

In [12]:
# Slice our DataFrame to exclude movies not in our target list
movies_clean = movies_df[movies_df['primaryTitle'].isin(target_list_normalized) == True]
movies_clean

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes
48,tt0118589,movie,Glitter,Glitter,2001.0,104,"Drama,Music,Romance",2.4,23898.0
69,tt0120166,movie,The Sorcerer's Apprentice,The Sorcerer's Apprentice,2001.0,86,"Adventure,Family,Fantasy",4.2,653.0
80,tt0120630,movie,Chicken Run,Chicken Run,2000.0,84,"Adventure,Animation,Comedy",7.1,201714.0
81,tt0120667,movie,Fantastic Four,Fantastic Four,2005.0,106,"Action,Adventure,Fantasy",5.7,338503.0
83,tt0120679,movie,Frida,Frida,2002.0,123,"Biography,Drama,Romance",7.3,93279.0
...,...,...,...,...,...,...,...,...,...
309635,tt9889072,movie,The Promise,The Promise,2017.0,\N,Drama,NaN,NaN
309684,tt9892546,movie,Aladdin,Aladdin,2020.0,104,"Drama,Musical,Romance",4.5,46.0
309695,tt9893078,movie,Sublime,Sublime,2019.0,93,"Biography,Documentary,Music",8.0,8.0
309758,tt9899880,movie,Columbus,Columbus,2018.0,82,"Comedy,Drama",4.1,352.0
309820,tt9906218,movie,Unstoppable,Unstoppable,2019.0,84,Documentary,7.7,23.0

Much more manageable! Looks like we've got a few more records than the length of our target list, which might point to some duplicates. We will investigate that further in a moment. Next, let's figure out how to use the Principals and Names tables to add in features for Director, Writer, etc...

...This could get tricky.

## Who was involved?

In [13]:
# Load in Names table
name_basics_df = pd.read_csv('../zippedData/extra.imdb/name.basics.tsv/data.tsv.gz', 
                             delimiter='\t', usecols=['nconst', 'primaryName'])

In [14]:
name_basics_df.head(2)

      nconst    primaryName
0  nm0000001   Fred Astaire
1  nm0000002  Lauren Bacall

In [15]:
# Load in Principals table
title_principals_df = pd.read_csv('../zippedData/extra.imdb/title.principals.tsv/data.tsv.gz', 
                              delimiter='\t', usecols=['tconst', 'ordering', 'nconst', 'category'])

In [16]:
title_principals_df.head(2)

      tconst  ordering     nconst  category
0  tt0000001         1  nm1588970      self
1  tt0000001         2  nm0005690  director

In [17]:
# Merge Principals with Names table 
people_df = title_principals_df.merge(name_basics_df, on='nconst', how='left')

In [18]:
# Get list of movie IDs ('tconst') whose attributes we want to look at
target_id_list = movies_clean['tconst'].values.tolist()

# Slice our DataFrame to exclude records for movies not in our target list
people_clean = people_df[people_df['tconst'].isin(target_id_list) == True]
people_clean

,tconst,ordering,nconst,category,primaryName
1015780,tt0118589,10,nm0801005,cinematographer,Geoffrey Simpson
1015781,tt0118589,1,nm0001014,actress,Mariah Carey
1015782,tt0118589,2,nm0073160,actor,Eric Benét
1015783,tt0118589,3,nm0066586,actor,Max Beesley
1015784,tt0118589,4,nm0004771,actress,Da Brat
...,...,...,...,...,...
57989129,tt9899880,9,nm6962385,production_designer,Kamyab Aminashayeri
58006461,tt9906218,1,nm0932216,director,Nick Willing
58006462,tt9906218,2,nm0131204,producer,Michele Camarda
58006463,tt9906218,3,nm8687848,composer,Madison Willing
58006464,tt9906218,4,nm8687849,cinematographer,Juvenal De Figueiroa

So these are the people involved with the movies we want to know about. We have multiple records for each film, which means we can't just do a simple join. Hmmmm... Let's start with directors.

#### Directors

In [19]:
# Get dataframe of just directors
directors = people_clean[['tconst', 'primaryName']][people_clean['category'] == 'director']

# Rename column
directors = directors.rename(columns={'primaryName': 'Directors'})

# Combine multiple directors into one tuple per film
directors = directors.groupby('tconst').agg(','.join)
directors.head()

                      Directors
tconst
tt0118589    Vondie Curtis-Hall
tt0120166          David Lister
tt0120630  Peter Lord,Nick Park
tt0120667             Tim Story
tt0120679          Julie Taymor

Nice! Now we can merge this into our movies_clean dataframe.

In [20]:
# Left join with movies_clean on the left
movies_clean = movies_clean.merge(directors, on='tconst', how='left')
movies_clean.head()

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,Directors
0,tt0118589,movie,Glitter,Glitter,2001.0,104,"Drama,Music,Romance",2.4,23898.0,Vondie Curtis-Hall
1,tt0120166,movie,The Sorcerer's Apprentice,The Sorcerer's Apprentice,2001.0,86,"Adventure,Family,Fantasy",4.2,653.0,David Lister
2,tt0120630,movie,Chicken Run,Chicken Run,2000.0,84,"Adventure,Animation,Comedy",7.1,201714.0,"Peter Lord,Nick Park"
3,tt0120667,movie,Fantastic Four,Fantastic Four,2005.0,106,"Action,Adventure,Fantasy",5.7,338503.0,Tim Story
4,tt0120679,movie,Frida,Frida,2002.0,123,"Biography,Drama,Romance",7.3,93279.0,Julie Taymor

Looks great. Who else do we care about?

In [21]:
people_clean['category'].value_counts()

actor                  15599
producer                9804
actress                 9355
writer                  8316
director                6865
composer                3898
cinematographer         3135
editor                  1845
self                     928
production_designer      511
archive_footage           61
archive_sound              1
Name: category, dtype: int64

Let's add producers, writers, and actors. For other jobs we likely don't have enough data.

#### Producers

In [22]:
# Get dataframe of just producers
producers = people_clean[['tconst', 'primaryName']][people_clean['category'] == 'producer']

# Rename column
producers = producers.rename(columns={'primaryName': 'Producers'})

# Combine multiple producers into one listing per film
producers = producers.groupby('tconst').agg(', '.join)

# Left join with movies_clean on the left
movies_clean = movies_clean.merge(producers, on='tconst', how='left')
movies_clean.head(2)

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,Directors,Producers
0,tt0118589,movie,Glitter,Glitter,2001.0,104,"Drama,Music,Romance",2.4,23898.0,Vondie Curtis-Hall,Laurence Mark
1,tt0120166,movie,The Sorcerer's Apprentice,The Sorcerer's Apprentice,2001.0,86,"Adventure,Family,Fantasy",4.2,653.0,David Lister,"Elizabeth Matthews, Peter H. Matthews"

#### Writers

In [23]:
# Get dataframe of just writers
writers = people_clean[['tconst', 'primaryName']][people_clean['category'] == 'writer']

# Rename column
writers = writers.rename(columns={'primaryName': 'Writers'})

# Combine multiple writers into one listing per film
writers = writers.groupby('tconst').agg(', '.join)

# Left join with movies_clean on the left
movies_clean = movies_clean.merge(writers, on='tconst', how='left')
movies_clean.head(2)

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,Directors,Producers,Writers
0,tt0118589,movie,Glitter,Glitter,2001.0,104,"Drama,Music,Romance",2.4,23898.0,Vondie Curtis-Hall,Laurence Mark,"Cheryl L. West, Kate Lanier"
1,tt0120166,movie,The Sorcerer's Apprentice,The Sorcerer's Apprentice,2001.0,86,"Adventure,Family,Fantasy",4.2,653.0,David Lister,"Elizabeth Matthews, Peter H. Matthews",Brett Morris

#### Actors

In [24]:
# Get dataframe of just Actors, including people listed as 'actor', 'actress', or 'self'.
actors = people_clean[['tconst', 'primaryName']][(people_clean['category'] == 'actor') |
                                                 (people_clean['category'] == 'actress') |
                                                 (people_clean['category'] == 'self')]

# Rename column
actors = actors.rename(columns={'primaryName': 'Actors'})

# Combine multiple actors into one listing per film
actors = actors.groupby('tconst').agg(', '.join)

# Left join with movies_clean on the left
movies_clean = movies_clean.merge(actors, on='tconst', how='left')
movies_clean.head(2)

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,Directors,Producers,Writers,Actors
0,tt0118589,movie,Glitter,Glitter,2001.0,104,"Drama,Music,Romance",2.4,23898.0,Vondie Curtis-Hall,Laurence Mark,"Cheryl L. West, Kate Lanier","Mariah Carey, Eric Benét, Max Beesley, Da Brat"
1,tt0120166,movie,The Sorcerer's Apprentice,The Sorcerer's Apprentice,2001.0,86,"Adventure,Family,Fantasy",4.2,653.0,David Lister,"Elizabeth Matthews, Peter H. Matthews",Brett Morris,"Robert Davi, Kelly LeBrock, Byron Taylor, Roxa..."

## Clean up columns to match other IMDB data

In [25]:
# Let's drop the two unnecessary columns
movies_clean = movies_clean.drop(columns=['titleType', 'originalTitle'])

In [26]:
# Let's use a dictionary to rename our columns to match our other dataset
rename_dict = {'tconst':'ID', 'primaryTitle':'Title', 'startYear':'Year', 
               'runtimeMinutes':'Runtime', 'genres':'Genres', 'averageRating':'AvgRating',
               'numVotes':'VoteCount'}

movies_clean = movies_clean.rename(columns=rename_dict)

In [27]:
movies_clean

,ID,Title,Year,Runtime,Genres,AvgRating,VoteCount,Directors,Producers,Writers,Actors
0,tt0118589,Glitter,2001.0,104,"Drama,Music,Romance",2.4,23898.0,Vondie Curtis-Hall,Laurence Mark,"Cheryl L. West, Kate Lanier","Mariah Carey, Eric Benét, Max Beesley, Da Brat"
1,tt0120166,The Sorcerer's Apprentice,2001.0,86,"Adventure,Family,Fantasy",4.2,653.0,David Lister,"Elizabeth Matthews, Peter H. Matthews",Brett Morris,"Robert Davi, Kelly LeBrock, Byron Taylor, Roxa..."
2,tt0120630,Chicken Run,2000.0,84,"Adventure,Animation,Comedy",7.1,201714.0,"Peter Lord,Nick Park",David Sproxton,"Karey Kirkpatrick, Mark Burton, John O'Farrell","Mel Gibson, Julia Sawalha, Phil Daniels, Lynn ..."
3,tt0120667,Fantastic Four,2005.0,106,"Action,Adventure,Fantasy",5.7,338503.0,Tim Story,Avi Arad,"Mark Frost, Michael France, Stan Lee, Jack Kirby","Ioan Gruffudd, Michael Chiklis, Chris Evans, J..."
4,tt0120679,Frida,2002.0,123,"Biography,Drama,Romance",7.3,93279.0,Julie Taymor,NaN,"Anna Thomas, Hayden Herrera, Clancy Sigal, Dia...","Salma Hayek, Alfred Molina, Geoffrey Rush, Mía..."
...,...,...,...,...,...,...,...,...,...,...,...
6740,tt9889072,The Promise,2017.0,\N,Drama,NaN,NaN,Edwine Dorival,"Dorival Farlone, James-Paul Gannaway, Dorival ...",Mackenson Dorival,"Bekenya Jane Augustin, Lidwine Berthil, Nathan..."
6741,tt9892546,Aladdin,2020.0,104,"Drama,Musical,Romance",4.5,46.0,NaN,"Josh Menning, David L. Walker, Greg Williams",Christina Sussmann,"Natasha Alam, Vitaliy Versace, Yuliya Zelenska..."
6742,tt9893078,Sublime,2019.0,93,"Biography,Documentary,Music",8.0,8.0,Bill Guttentag,"Dave Kaplan, Terry Leonard",Nayeema Raza,"Kenji Easley, Floyd Gaugh, Sublime, Eric Wilson"
6743,tt9899880,Columbus,2018.0,82,"Comedy,Drama",4.1,352.0,Hatef Alimardani,NaN,NaN,"Farhad Aslani, Majid Salehi, Saeed Poursamimi,..."
6744,tt9906218,Unstoppable,2019.0,84,Documentary,7.7,23.0,Nick Willing,Michele Camarda,NaN,NaN

Awesome! Now let's write this data into a new file to bring into our main data cleaning notebook.

## Save down into new file

In [28]:
movies_clean.to_csv('../cleanedData/imdb_supplemental_cleaned.csv')